<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gavin.mapper.BookstoreMapper">

    <cache type="org.mybatis.caches.ehcache.EhcacheCache"/>
    <insert id="insertBookselective">

        insert into gavin.bookstore values(
        <if test="bookid!=null and bookid!=''">
            #{book_id}
        </if>

        <if test="bookname!=null and bookpublish!=''">
            #{bookname}
        </if>
        <if test="bookpublish!=null and bookpublish!=''">
            #{bookpublish}
        </if>
        <if test="bookprice!=null and bookprice!=''">
            #{bookprice}
        </if>
        <if test="bookkind!=null and bookkind!=''">
            #{bookkind}
        </if>
        <if test="bookcount!=null and bookcount!=''">
            #{bookcount}
        </if>
        )
    </insert>
    <select id="selectByBookId" resultType="bookstore" useCache="true">

        select *
        from gavin.bookstore
        where bookid = #{bookid}

    </select>
</mapper>